<!DOCTYPE html>
<html>
<head>
  <title>Todoapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag controller_name if controller_name == "task" && action_name == "home" %>
  <%# returns tasks.css.scss style sheet to application %>
  <%= stylesheet_link_tag 'tasks' %>
</head>


<body>

<%= yield %>

</body>
</html>

